<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Log in</h1>

        <h2>
            Don't have an account? <a href="/register">Register</a>
        </h2>
        <form method="post" class="login">
            <label>
                <div>Username</div>
            </label>
            <input type="text" name="username" value="{{username}}">

            <label>
                <div>Password</div>
            </label>
            <input type="password" name="password">

            <input type="submit">

            <div class="error">{{error}}</div>
        </form>
    </body>
</html>
