<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
        <div>
            Already have an account? <a href="/login">Log in</a>
        </div>
        <form method="post">
            <label>
                <div>Username</div>
            </label>
            <input type="text" name="username" value="{{username}}">

            <label>
                <div>Password</div>
            </label>
            <input type="password" name="password">

            <label>
                <div>Confirm password</div>
            </label>
            <input type="password" name="confirm-password">

            <label>
                <div>Email (OPTIONAL)</div>
            </label>
            <input type="text" name="email" value="{{email}}">

            <input type="submit">

            <div class="error">{{errors | safe}}</div>
        </form>
    </body>
</html>
